<!doctype html>

<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/profilestyles.css">
  <!-- Font type -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fanwood+Text" />
  {{> facebook}}
  <script src="/js/facebook.js"></script>
</head>

<body>
  <div class="screen_container">
    <!-- Profile Button and Logo ------------------->
    <!-- Include a first-time user message overlay-->
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">
        <text>Profile</text>
      </header>
      <form class="editBtn" method="get" action="editprofile">
        <button id="edit" type="submit">Edit</button> 
      </form> 

    </div>

    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <div class="welcome">
        <div class="user">
          <!-- FB Login doesn't correctly parse information -->
          <div id="facebookPhoto" class="photo">
            <img id="photo" class='img-responsive' src="images/profileIcon.png"><br>
          </div>
          <text>Name:</text>
          <text id="name">{{user.name}}</text><br>
          <text>Email:</text>
          <text>{{user.email}}</text><br>
          <text>Password:</text>
          <text>******</text><br>
          <text>Dominant Hand:</text>
          <text>{{user.dominanthand}}</text><br>
          {{#if user.handicap}}
            <text>Average Handicap:</text>
            <text>{{user.handicap}}</text>
          {{else}}
            <text>Average Handicap:</text>
            <text>Not Available</text>
          {{/if}}
        </div>        
      </div>
      <div class="info">
      </div>
    </div>

    <!-- Button to transition to swing clips -->
    <!-- for the current session -------------->
    <div class="bottom_container">
      <div class="bottom_buttons"> 
        <a href="/" id="review" type="button" onclick="FB.logout(function(response){});">Log Out</a> 
        <form method="get" action="/">
          <button id="review" type="submit">Deactivate Account</button> 
        </form>      
      </div>

    </div>
  </div>
</body>
</html>
