<!doctype html>

<html>

<head>
  <title>SwingGo - Learn from a Virtual Coach</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
  <link rel="stylesheet" href="css/profilestyles.css">
</head>

<body>
  <div class="screen_container">
    <!-- Profile Button and Logo ------------------->
    <!-- Include a first-time user message overlay-->
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">Profile</header>
      <div class="invisible_spacer">
        <h1>.</h1>
      </div>
    </div>

    <!-- Camera Component -------------------------->
    <!-- Include a first-time user message overlay-->
    <div class="content_container">
      <div class="welcome">
        <Text>Welcome back, Scott!</Text>
        <div class="user">
          <!-- NOT SHOWING CURRENTLY -->
          <h6>Name: {{this.name}}</h6>
          <h6>Email: {{email}}</h6>
          <h6>PW: {{password}}</h6>
          <h6>Dominant Hand: {{dominanthand}}</h6>
          <h6>Handicap: {{handicap}}</h6>
        </div>        
      </div>
      <div class="info">
      </div>
    </div>

    <!-- Button to transition to swing clips -->
    <!-- for the current session -------------->
    <div class="bottom_container">
      <div class="bottom_buttons"> 
        <form method="get" action="Profile">
          <button id="review" type="submit">Review Feedback!</button> 
        </form>
        <form method="get" action="/">
          <button id="review" type="submit">Log Out</button> 
        </form>      
      </div>

    </div>
  </div>
</body>
</html>
