<!doctype html>
<html>

<head>
  <title>SwingGo - Profile</title>
  {{> meta}}
  {{> styles}}
  {{> facebook}}
  {{> googleAnalytics}}
  <link rel="stylesheet" href="css/profilestyles.css">
</head>

<body>
  <div class="screen_container">
    <div class="top_container"> 
      <a class="thumbnailtop" href="home">
        <img id="backarrow" src="images/backarrow.png">
      </a>
      <header class="title">
        <text>Profile</text>
      </header>
      <form class="editBtn" method="get" action="editprofile">
        <button class="btn" type="submit">Edit</button> 
      </form> 

    </div>

    <div class="content_container">
      <div class="user">
        <!-- Photo -->       
        {{#if user.pic}}
        <img id="photo" class='img-responsive' src="images/profileIcon.png"><br>
        {{else}}
        <img src="" id="fbpic"/><br>
        {{/if}}
        <!-- Name -->
        <br><text>Name: </text>
        <text id="name">{{user.name}}</text><br>
        <!-- Email -->
        <text>Email: </text>
        <text id="email">Connected to Facebook</text><br>
        <!-- Dominant Hand -->
        <text>Dominant Hand:</text>
        <text>{{user.dominanthand}}</text><br>
        <!-- Average Handicap -->
        {{#if user.handicap}}
          <text>Average Handicap:</text>
          <text>{{user.handicap}}</text>
        {{else}}
          <text>Average Handicap:</text>
          <text>Not Available</text>
        {{/if}}
      </div>        
    </div>

    <div class="bottom_container">
      <div class="bottom_buttons"> 
        <a href="/" class="btn" type="button" onclick="FB.logout(function(response){}); localStorage.clear();">Log Out
        </a>      
      </div>
    </div>
  </div>

<!-- Load Profile Picture and Name-->
  <script>
    console.log(localStorage);
    var data = JSON.parse(localStorage.getItem('user'));
    document.getElementById('fbpic').src = data.pic;
    const output = document.getElementById("name");
    output.innerHTML = data.name;
  </script>

</body>
</html>
